@import 'cyfrowe/variables.scss';
* {
  box-sizing: border-box;
  vertical-align: baseline;
}
body {
  font-family: 'Lato',Arial,sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #525252;
  background: #f1f2f3;
  width: 100%;
}

h3 {
  font-size: 18px;
  font-family: 'Lato',Arial,sans-serif;
  line-height: 18px;
}

.cursor {
  &__pointer {
    cursor: pointer;
  }
}

.display {
  &__grid {
    display: grid;
  }
}

.backgroundWhite {
  background: #FFFFFF;
}

.color-primary {
  background: $button-primary-color;
}

.color-text-red {
  color: $button-primary-color;
}

.button_base {
  padding: 10px 20px;
  border: unset;
  cursor: pointer;

  &.red {
    background: $button-primary-color;
    color: #FFFFFF;
  }

  &.red:hover {
    background: $button-primary-color-hover-focus;
  }

  &.red:focus {
    background: $button-primary-color-hover-focus;
  }

  &.afterArrow:after {
    content: ">";
    //content: "\f105";
    //font-family: FontAwesome;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0 0 0 7px;
  }
}
