<template>
  <div class="search__form">
      <SwSearchBar class="input__search input__fullSize"/>
  </div>
</template>

<script>
import SwSearchBar from "../SwSearchBar.vue"
export default {
  name: "SearchBar",
  components: {SwSearchBar}
}
</script>

<style scoped lang="scss">
::v-deep {
  .sf-search-bar__input {
    font-family: 'Lato',Arial,sans-serif;
    border-width: 0 0 0 0;
    padding-left: 20px;

    &::placeholder {
      font-style: italic;
      color: #a4a4a4;
    }
  }

  .sf-search-bar__button {
    padding-right: 20px;
  }
}
.search__form {
  padding-top: 11px;

  .input__search {
    position: relative;
    width: 90%;
    height: 46px;
    border: 3px solid #d6d6d6;
    padding: 0 0 0 0;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    float: left;

    &::placeholder {
      font-style: italic;
      color: #a4a4a4;
    }
  }
}
</style>
