<template>
<div>Wszystkie promocje</div>
</template>

<script>
export default {
  name: "all-promotions",
  created() {
    console.log(this.$route.fullPath)
  }
}
</script>

<style scoped>

</style>
