<template>
    <div class="nav">
      <ul class="items__box">
        <li :class="{active: updateCurrentRoute === '/'}"><NuxtLink to="/">SKLEP</NuxtLink></li>
        <li><a href="https://www.cyfrowe.rent/" target="_blank">WYPOŻYCZALNIA</a></li>
        <li class="promotions" :class="{active: updateCurrentRoute === '/all-promotions'}"><NuxtLink to="all-promotions">PROMOCJE</NuxtLink></li>
        <li :class="{active: updateCurrentRoute === '/sale'}"><NuxtLink to="/sale">WYPRZEDAŻ</NuxtLink></li>
        <li>PROVIDEO</li>
        <li>B2B</li>
        <li>STREFA MAREK</li>
        <li>USŁUGI FOTO</li>
      </ul>
      <ul class="item__box__city">
        <li>Salony:</li>
        <li><a href="https://www.cyfrowe.pl/zasady-sprzedazy/mapa-gdansk.html" title="Odbiór w Gdańsku">Gdańsk</a></li>
        <li><a href="https://www.cyfrowe.pl/zasady-sprzedazy/mapa-katowice.html" title="Odbiór w Katowicach">Katowice</a></li>
        <li><a href="https://www.cyfrowe.pl/zasady-sprzedazy/mapa-poznan.html" title="Odbiór w Poznaniu">Poznań</a></li>
        <li><a href="https://www.cyfrowe.pl/zasady-sprzedazy/mapa-warszawa.html" title="Odbiór w Warszawie na Mokotowie">Warszawa Mokotów</a></li>
        <li><a href="https://www.cyfrowe.pl/zasady-sprzedazy/mapa-warszawa-wola.html" title="Odbiór w Warszawie na Woli">Warszawa Wola</a></li>
      </ul>
    </div>
</template>

<script>
export default {
  name: "HeaderGlobal",
  data() {
    return {
      currentRoute: this.$route.fullPath
    }
  },
  created() {
    console.log('this.currentRoute')
    console.log(this.currentRoute)
  },

  computed: {
    updateCurrentRoute: function() {
      return this.$route.fullPath
    }
  }
}
</script>

<style scoped lang="scss">
.nav {
  font-family: 'Lato',Arial,sans-serif;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 0 5px 0;

  .items__box {
    list-style: none;
    color: #000000;
    padding-left: 0;
    margin: 0;
    font-size: 12px;
    line-height: 16.8px;

    li {
      float: left;
      display: inline-block;
      padding: 0 12px;
      border-left: 1px solid #e3e3e3;

      &.promotions > a {
        color: #dd0031;
      }
    }
  }

  .item__box__city {
    list-style: none;
    color: #000000;
    display: flex;
    margin: 0;
    font-size: 11px;
    li {
      margin: 0 2px 0 0;
    }
  }

  .active  {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
  }
}
</style>
