<template>
  <div class="nav">
    <Container>
      <ul class="items__box">
        <li class="photos" v-for="category in categories">
          <a
            v-if="isLinkCategory(category)"
            class="sf-header__link"
            :href="getCategoryUrl(category)"
            target="_blank"
          >
            <span class="icon"></span>
            {{ getTranslatedProperty(category, "name") }}
          </a>

          <nuxt-link
            v-else
            class="sf-header__link"
            :to="$routing.getUrl(getCategoryUrl(category))"
          >
            <span class="icon"></span>
            {{ getTranslatedProperty(category, "name") }}
          </nuxt-link>
        </li>
      </ul>
    </Container>
  </div>
</template>

<script>
import Container from "./Container";
import { getCategoryUrl, isLinkCategory, getTranslatedProperty } from "@shopware-pwa/helpers"

export default {
  name: "HeaderGlobal",
  props: {
    categories: null
  },

  components: {
    Container,
  },

  created() {

  },

  setup() {
    return {
      getTranslatedProperty,
      getCategoryUrl,
      isLinkCategory
    }
  }
}
</script>

<style scoped lang="scss">
.nav {
  background-color: #000;
  .items__box {
    list-style: none;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #ffffff;
    padding: 10px 0 10px 0;
    margin: 0;

    .icon {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50px;
      height: 27px;
      background-image: url(https://www.cyfrowe.pl/images/header/main-nav-icons.svg?v=2106_1);
      background-repeat: no-repeat;
      background-position: 0 0;
    }

    li {
      position: relative;
      z-index: 1;
      display: block;
      min-width: 85px;
      margin: 5px 0 0 -1px;
      line-height: 11px;
      font-size: 11px;
      border-right: 1px solid #333;
      text-decoration: none;
      text-align: center;
      color: #FFF;
      white-space: nowrap;

      &:first-child {
        border-left: 1px solid #333;
      }

      a {
        color: #FFFFFF;
      }

      &.photos span {
        background-position: 0 0;
      }
      &.recording span {
        background-position: 0 -33px;
      }
      &.studio span {
        background-position: 0 -66px;
      }
      &.prints_edit span {
        background-position: 0 -132px;
      }
      &.drones span {
        background-position: 0 -530px;
      }
      &.observations span {
        background-position: 0 -198px;
      }
      &.photos_mobile span {
        background-position: 0 -231px;
      }
      &.photos_analog span {
        background-position: 0 -264px;
      }
      &.home_cinema span {
        background-position: 0 -563px;
      }
      &.conference_rooms span {
        background-position: 0 -165px;
      }
      &.used span {
        background-position: 0 -396px;
      }
      &.course span {
        background-position: 0 -429px;
      }
      &.rental span {
        background-position: 0 -462px;
      }
    }
  }
}
</style>
