<template>
  <div class="sw-top-navigation text backgroundWhite" data-cy="main-header">
    <TestMode v-if="testMode"></TestMode>
    <Container>
      <HeaderSmallTopRightBar></HeaderSmallTopRightBar>
      <HeaderGlobal></HeaderGlobal>
      <HeaderTopNavBar></HeaderTopNavBar>
    </Container>
      <HeaderCategoryBar :categories="visibleCategories"></HeaderCategoryBar>

  </div>
</template>

<script>
import { SfHeader, SfOverlay } from "@storefront-ui/vue"
import { useUIState } from "@shopware-pwa/composables"

import SwTopBar from "@/components/SwTopBar.vue"
import SwLogo from "@/components/SwLogo.vue"
import SwHeaderIcons from "@/components/SwHeaderIcons.vue"
import SwTopNavigation from "@/components/SwTopNavigation.vue"
import SwSearchBar from "./SwSearchBar.vue"

import SwCookieBar from "@/components/gdpr/SwCookieBar.vue"
import Container from "./Container";
import HeaderGlobal from "./HeaderTopSearchCardBar";
import HeaderCategoryBar from "./HeaderCategoryBar";
import HeaderSmallTopRightBar from "./HeaderSmallTopRightBar";
import HeaderTopNavBar from "./HeaderTopNavBar";
import TestMode from "./TestMode";

export default {
  components: {
    TestMode,
    Container,
    HeaderGlobal,
    HeaderCategoryBar,
    HeaderSmallTopRightBar,
    HeaderTopNavBar,
    SfHeader,
    SfOverlay,
    SwTopBar,
    SwLogo,
    SwHeaderIcons,
    SwTopNavigation,
    SwSearchBar,
    SwCookieBar,
  },
  mixins:[SwTopNavigation],
  data() {
    return {
      testMode: true
    }
  },

  created() {
    console.log('this.testMode')
  },

  setup() {
    const { isOpen } = useUIState({ stateName: "MEGA_MENU_OVERLAY_STATE" })

    return {
      isOpen,
    }
  },
}
</script>

<style lang="scss" scoped>
@import "@/assets/scss/variables";

.sf-header__wrapper {
  header {
    box-sizing: border-box;
    max-width: 1320px;
  }
}

.sw-top-navigation {
  --header-container-padding: 0 var(--spacer-base);
  --header-navigation-item-margin: 0 1rem 0 0;

  .sw-overlay {
    --overlay-z-index: 1;
  }

  @include for-desktop {
    ::v-deep .sf-header {
      display: flex;
      justify-content: space-between;
      &__sticky-container {
        width: 100%;
      }
      &__navigation {
        flex: 0 0 calc(100% - 22rem);
      }
    }
  }
}

.sw-header {
  position: relative;
  background-color: var(--c-white);

  &__icons {
    display: flex;
  }

  &__icon {
    cursor: pointer;
  }
}
</style>
