<template>
<div class="container">
  <slot></slot>
</div>
</template>

<script>
export default {
  name: "Container"
}
</script>

<style scoped lang="scss">
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 1220px;
  min-width: 300px;
}
</style>
