<template>
  <div>
      <div class="header_container">
          <ul class="items__box">
            <li>Kontakt</li>
            <li>O nas</li>
            <li>Zasady sprzedaży</li>
            <li>Opinie o sklepie</li>
            <li><b>Sprawdź status zamówienia</b></li>
            <li>
              <NuxtLink to="/register">Załóż konto</NuxtLink> /
              <b><span @click="userIconClick" class="login_link">Zaloguj</span></b>
            </li>
          </ul>
      </div>
  </div>
</template>

<script>
import SwHeaderIcons from "./SwHeaderIcons";

export default {
  name: "HeaderSmallTopRightBar",
  mixins: [SwHeaderIcons]
}
</script>

<style scoped lang="scss">
.header_container {
  margin-right: auto;
  margin-left: auto;
  padding: 3px 20px;
  max-width: 1220px;
  min-width: 300px;

  .items__box {
    position: relative;
    display: flex;
    list-style: none;
    justify-content: right;
    width: 100%;
    min-height: 1px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 11px;
    line-height: 11px;
    text-align: right;
    padding-top: 3px;

    .login_link {
      cursor: pointer;
    }

    li {
      padding: 0 8px 0 8px;
      border-left: 1px solid #e3e3e3;
    }
  }
}

</style>
