<template>
  <div class="header_container">

    <div class="elements__logo">
      <NuxtLink to="/">
        <img src="https://www.cyfrowe.pl/images/header/logo_podstawowe_jasne_tlo.png" id="logo" alt="Cyfrowe.pl"
             class="sf-header__logo">
      </NuxtLink>
    </div>

    <div class="element__search">
      <SearchBar></SearchBar>
    </div>

    <div class="element__box">
      <ul class="items__box">
        <li class="gray">Porównaj</li>
        <li class="gray">Schowek</li>
        <li class="yellow cursor__pointer display__grid" @click.capture="toggleSidebar">
          <span>Koszyk</span>
          <span v-if="count > 0"> {{ count }}</span>
        </li>
      </ul>
    </div>

  </div>
</template>

<script>
import SearchBar from "./SearchBar/SearchBar";
import SwHeaderIcons from "./SwHeaderIcons";
export default {
  name: "HeaderGlobal",
  mixins:[SwHeaderIcons],
  components: {SearchBar},
}
</script>

<style scoped lang="scss">
.header_container {
  //border: 1px solid green;

  margin-right: auto;
  margin-left: auto;
  //padding-left: 20px;
  //padding-right: 20px;
  max-width: 1220px;
  min-width: 300px;
  display: flex;
  justify-content: space-between;
  width: 100%;

  .element__search {
    //border: 1px solid yellow;
    width: 52%;
  }

  .elements__logo {
    //border: 1px solid red;
    width: 22%;
    #logo {
      max-width: 189px;
    }

    .sf-header__logo {
      position: relative;
      float: left;
      min-height: 1px;
      //padding-left: 5px;
      //padding-right: 5px;
      margin-bottom: 20px;
      margin-top: 0;
      //height: 2em;
      //width: 30%;
    }
  }

  .element__box {
    width: 26%;
    //border: 1px solid blue;
    .items {
      //background-color: white;
    }

    .items__box {
      list-style: none;
      display: flex;
      width: 100%;
      color: #000000;
      padding: 8px 0 20px 0;
      margin: 0;

      li {
        padding: 11px 17px 0 17px;
        font-size: 12px;
        line-height: 12px;
        font-family: 'Lato',Arial,sans-serif;
        font-weight: bold;
        text-transform: none;
        width: 28.5%;
        height: 46px;
        margin: 2px;
        text-align: center;

        &.gray {
          background-color: #e8e8e8;
        }

        &.yellow {
          background-color: #eee800;
        }
      }
    }
  }
}

</style>
