<template>
      <div class="testMode">
        Wersja demonstracyjna - zakupy nie będą zrealizowane !
      </div>
</template>

<script>
export default {
  name: "TestMode"
}
</script>

<style scoped lang="scss">
.testMode {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: red;
  color: #ffffff;
  min-height: 25px;
}
</style>
