<template>

  <div class="product">
    <div class="image">
      <img :src="getImage" :alt="title" :title="title">
    </div>

    <div class="content">

      <div class="title">
        <h3>
          <NuxtLink :to="link"><span>{{ title }}</span></NuxtLink>
        </h3>
      </div>

      <div class="description">
        {{ getDescription }}
      </div>

      <div class="delivery">
        <div class="delivery_square"></div>
        <div class="delivery_content">Wysyłamy w 24h</div>
      </div>

      <div class="cart">
        <div class="actions_cart">
          <span class="price">{{ regularPrice }}</span>
          <button class="button_base red afterArrow" @click="onAddToCart">Dodaj do koszyka</button>
        </div>

        <div class="actions_more">
          <span>Do porównania</span>
          <span>Do schowka</span>
        </div>

      </div>
    </div>

  </div>

</template>

<script>
import { SfProductCard } from "@storefront-ui/vue"
export default {
  name: "ProductCard",
  mixins: [SfProductCard],
  props: {
    title: {
      type: String,
      default: '',
    },
    image: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    link: {
      type: String,
      default: '#',
    },
    specialPrice: {
      type: String,
      default: '#',
    },
    regularPrice: {
      type: String,
      default: '#',
    },
  },

  data() {
    return {
      defaultDescription:
        'Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry\'s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum',
      getImage: this.image,
      getDescription: this.description,
    }
  },

  created() {
    this.getImage = (!this.getImage || this.getImage === '') ? '/placeholderImg.jpg' : this.getImage;
    this.getDescription = (!this.getDescription || this.getDescription === '') ? this.defaultDescription : this.getDescription;
  }
}
</script>

<style scoped lang="scss">
.product {
  font-family: 'Lato', Arial, sans-serif;
  display: flex;
  margin-bottom: 10px;
  background: #FFFFFF;

  .content {
    .title {
      padding: 10px 0;

      span {
        color: #00788a;
        text-decoration: underline;
        text-decoration-color: #add6dc;
      }
    }

    .description {
      font-size: 12px;
      line-height: 15.6px;
    }

    .delivery {
      display: flex;
      margin-top: 25px;

      .delivery_square {
        width: 11px;
        height: 11px;
        background: #8fce07;
      }

      .delivery_content {
        margin-left: 5px;
      }
    }

    .cart {
      margin-top: 25px;
      display: flex;
      margin-right: 10px;
      justify-content: space-between;

      .actions_cart {

        .price {
          margin-right: 10px;
          color: #000000;
          font-size: 29px;
          font-weight: 600;
          font-family: "Lato", Arial, sans-serif;
        }
      }


      .actions_more {
        margin-top: 20px;
        font-size: 11px;

        span {
          padding-right: 12px;

          &:after {
            content: ">";
            //content: "\f105";
            //font-family: FontAwesome;
            display: inline-block;
            font-size: 1.2em;
            font-weight: bold;
            margin: 0 0 0 7px;
          }
        }
      }
    }
  }

  .image {
    width: 100%;
    margin-top: 40px;
    padding: 10px 10px;

    img {
      max-width: 260px;
    }
  }
}
</style>
